{% extends 'base.html' %}

{% block meta %}
<title>TODOLIST</title>
<style>
  .done :hover, .undone :hover {
    background-color: white;
    transition-delay:0.1s;
  }

  .done :hover {
    color: #28a745;
  }

  .undone :hover {
    color: #dc3545;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $.ajax({
      url: "{% url 'todolist:show_json' %}",
      type: "GET",
      success: function(result) {
        console.log(result)

        var htmlString = ''

        for (let index = 0; index < result.length; index++) {
          var task = result[index].fields;
          var pk = result[index].pk

          if (task.is_finished) {
            htmlString += `
            <div class="card text-bg-success m-3 done" style="width: 18rem;" id=${pk}>
              <div class="card-body">
                <h5 class="card-title">${task.title}</h5>
                <h6 class="card-subtitle mb-2">${task.date}</h6>
                <h6 class="card-subtitle mb-2">Selesai</h6>
                <p class="card-text">${task.description}</p>
                <button class="btn btn-secondary delete-task" id=${pk}>Hapus</button>
              </div>
            </div>
            `
          } else {
            htmlString += `
            <div class="card text-bg-danger m-3 undone" style="width: 18rem;" id=${pk}>
              <div class="card-body">
                <h5 class="card-title">${task.title}</h5>
                <h6 class="card-subtitle mb-2">${task.date}</h6>
                <h6 class="card-subtitle mb-2">Belum Selesai</h6>
                <p class="card-text">${task.description}</p>
                <button class="btn btn-secondary delete-task" id=${pk}>Hapus</button>
              </div>
            </div>
            `
          }
        }
        $("div#todolist-card").append(htmlString)          
      }
    })

    $("#form-add-task").submit(function(e) {
      e.preventDefault() // mencegah perilaku default browser untuk submisi form

      $.ajax({
        type: "POST",
        url: "{% url 'todolist:add_todolist_item' %}",
        data: $(this).serialize(), // Mendapatkan form data
        success: function(response) {
          
          // Append
          var htmlString = "";
          var task = response[0].fields
          var pk = response[0].pk
          
          if (task.is_finished) {
            htmlString = `
            <div class="card text-bg-success m-3 done" style="width: 18rem;" id=${pk}>
              <div class="card-body">
                <h5 class="card-title">${task.title}</h5>
                <h6 class="card-subtitle mb-2">${task.date}</h6>
                <h6 class="card-subtitle mb-2">Selesai</h6>
                <p class="card-text">${task.description}</p>
                <button class="btn btn-secondary delete-task" id=${pk}>Hapus</button>
                </div>
                </div>
                `
              } else {
                htmlString = `
                <div class="card text-bg-danger m-3 undone" style="width: 18rem;" id=${pk}>
                  <div class="card-body">
                    <h5 class="card-title">${task.title}</h5>
                    <h6 class="card-subtitle mb-2">${task.date}</h6>
                    <h6 class="card-subtitle mb-2">Belum Selesai</h6>
                    <p class="card-text">${task.description}</p>
                    <button class="btn btn-secondary delete-task" id=${pk}>Hapus</button>
                    </div>
                    </div>
                    `
                  }
                  
          $("div#todolist-card").append(htmlString)
        }
      })      
    })

    $(document).on('click', '.delete-task', function(){
      console.log($(this))

      var buttonReference = $(this)[0]
      var buttonId = buttonReference.id

      $.ajax({
        type: "DELETE",
        url: "{% url 'todolist:delete_todolist_item' id=0 %}".replace("0", buttonId),
        success: function(response) {
          $("div.card#0".replace("0", buttonId)).remove()
        }
      })
      
    });
    

  })
</script>

{% endblock meta %}

{% block content %}
<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-bg-primary" href="{% url 'todolist:show_todolist' %}">TODOLIST</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-bg-primary" aria-current="page" href="{% url 'todolist:logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-bg-primary" href="{% url 'todolist:show_about' %}">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1 class="text-center m-2">Tugas 4 Assignment PBP/PBD</h1>
<div class="container">
  <p><strong>Name:</strong> {{nama}}</p>
  
  <p><strong>Student ID:</strong>{{id}}</p>
  
  <p><strong>Username:</strong> {{nama_user}}</p>
</div>

<hr>

<h2 class="text-center m-2">Task</h2>
<div class="todolist-card"></div>

<div class="container-fluid d-flex flex-wrap justify-content-center" id="todolist-card">
    
</div>

<div class="d-grid gap-2 col-6 mx-auto my-3">

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add Task
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Task</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" id="form-add-task">  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
            </table>  
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-success"><a href="{% url 'todolist:create_task' %}" class="link-light">Tambah Task Baru pada Halaman Baru</a></button>
  <button class="btn btn-danger"><a href="{% url 'todolist:logout' %}" class="link-light">Logout</a></button>
</div>


{% endblock content %}
<!-- 
<div class="container-fluid d-flex flex-wrap justify-content-center" id="todolist-card">
  {% comment %} Add the data below this line {% endcomment %}
  {% for task in data_task %}
  {% if task.is_finished %}
  <div class="card text-bg-success m-3 done" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{task.title}}</h5>
      <h6 class="card-subtitle mb-2">{{task.date}}</h6>
      <h6 class="card-subtitle mb-2">Selesai</h6>
      <p class="card-text">{{task.description}}</p>
      <button class="btn btn-primary"><a href="{% url 'todolist:update_task' id=task.pk %}" class="link-light">Ubah</a></button>
      <button class="btn btn-secondary"><a href="{% url 'todolist:delete_task' id=task.pk %}" class="link-light">Hapus</a></button>
    </div>
  </div>
  {% else %}
  <div class="card text-bg-danger m-3 undone" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{task.title}}</h5>
      <h6 class="card-subtitle mb-2">{{task.date}}</h6>
      <h6 class="card-subtitle mb-2">Belum Selesai</h6>
      <p class="card-text">{{task.description}}</p>
      <button class="btn btn-primary"><a href="{% url 'todolist:update_task' id=task.pk %}" class="link-light">Ubah</a></button>
      <button class="btn btn-secondary"><a href="{% url 'todolist:delete_task' id=task.pk %}" class="link-light">Hapus</a></button>
    </div>
  </div>

  {% endif %}
  {% endfor %}
</div> -->